This file is created to implement the raw Linear Regression model that I created and compare the results with the sklearn implementation of Linear Regression.
I will try my code out on the regression problem of predicting the probability that a student will get an admission in graduate program. 
Lets get Started!!

** The questions I will be answering for myself are as follows: **
* How to handle categorical/nominal/ordinal values in regression problems?
* When do we need to standardize and normalize the data?
* How to know that we are gonna need to add regularization in our model? (I haven't coded regularization part in my code)

In [1]:
import pandas as pd
import numpy as np
import sys
import os
import sklearn.preprocessing

In [4]:
import Linear_Regression as lr

SyntaxError: 'return' outside function (sgd.py, line 61)

In [2]:
df = pd.read_csv('Admission_Predict_Ver1.1.csv')
display(df.head())
display(df.sample())
display(df.info)
display(df.describe())

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
340,341,312,107,3,3.0,3.0,8.46,1,0.75

<bound method DataFrame.info of      Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        324          107                  4  4.0   4.5  8.87
2             3        316          104                  3  3.0   3.5  8.00
3             4        322          110                  3  3.5   2.5  8.67
4             5        314          103                  2  2.0   3.0  8.21
5             6        330          115                  5  4.5   3.0  9.34
6             7        321          109                  3  3.0   4.0  8.20
7             8        308          101                  2  3.0   4.0  7.90
8             9        302          102                  1  2.0   1.5  8.00
9            10        323          108                  3  3.5   3.0  8.60
10           11        325          106                  3  3.5   4.0  8.40
11           12        327          111                  4  4.0   4.5  9.00
12           13        328          112                  4  4.0   4.5  9.10
13           14        307          109                  3  4.0   3.0  8.00
14           15        311          104                  3  3.5   2.0  8.20
15           16        314          105                  3  3.5   2.5  8.30
16           17        317          107                  3  4.0   3.0  8.70
17           18        319          106                  3  4.0   3.0  8.00
18           19        318          110                  3  4.0   3.0  8.80
19           20        303          102                  3  3.5   3.0  8.50
20           21        312          107                  3  3.0   2.0  7.90
21           22        325          114                  4  3.0   2.0  8.40
22           23        328          116                  5  5.0   5.0  9.50
23           24        334          119                  5  5.0   4.5  9.70
24           25        336          119                  5  4.0   3.5  9.80
25           26        340          120                  5  4.5   4.5  9.60
26           27        322          109                  5  4.5   3.5  8.80
27           28        298           98                  2  1.5   2.5  7.50
28           29        295           93                  1  2.0   2.0  7.20
29           30        310           99                  2  1.5   2.0  7.30
..          ...        ...          ...                ...  ...   ...   ...
470         471        320          110                  5  4.0   4.0  9.27
471         472        311          103                  3  2.0   4.0  8.09
472         473        327          116                  4  4.0   4.5  9.48
473         474        316          102                  2  4.0   3.5  8.15
474         475        308          105                  4  3.0   2.5  7.95
475         476        300          101                  3  3.5   2.5  7.88
476         477        304          104                  3  2.5   2.0  8.12
477         478        309          105                  4  3.5   2.0  8.18
478         479        318          103                  3  4.0   4.5  8.49
479         480        325          110                  4  4.5   4.0  8.96
480         481        321          102                  3  3.5   4.0  9.01
481         482        323          107                  4  3.0   2.5  8.48
482         483        328          113                  4  4.0   2.5  8.77
483         484        304          103                  5  5.0   3.0  7.92
484         485        317          106                  3  3.5   3.0  7.89
485         486        311          101                  2  2.5   3.5  8.34
486         487        319          102                  3  2.5   2.5  8.37
487         488        327          115                  4  3.5   4.0  9.14
488         489        322          112                  3  3.0   4.0  8.62
489         490        302          110                  3  4.0   4.5  8.50
490         491        307          105                  2  2.5   4.5  8.12
491         492        297           99                  4  3.0   3.5  7.81
492         493        298          101                  4  2.5   4.5  7.69
493         494        300           95                  2  3.0   1.5  8.22
494         495        301           99                  3  2.5   2.0  8.45
495         496        332          108                  5  4.5   4.0  9.02
496         497        337          117                  5  5.0   5.0  9.87
497         498        330          120                  5  4.5   5.0  9.56
498         499        312          103                  4  4.0   5.0  8.43
499         500        327          113                  4  4.5   4.5  9.04

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
5           1              0.90
6           1              0.75
7           0              0.68
8           0              0.50
9           0              0.45
10          1              0.52
11          1              0.84
12          1              0.78
13          1              0.62
14          1              0.61
15          0              0.54
16          0              0.66
17          1              0.65
18          0              0.63
19          0              0.62
20          1              0.64
21          0              0.70
22          1              0.94
23          1              0.95
24          1              0.97
25          1              0.94
26          0              0.76
27          1              0.44
28          0              0.46
29          0              0.54
..        ...               ...
470         1              0.87
471         0              0.64
472         1              0.90
473         0              0.67
474         1              0.67
475         0              0.59
476         0              0.62
477         0              0.65
478         1              0.71
479         1              0.79
480         1              0.80
481         1              0.78
482         1              0.83
483         0              0.71
484         1              0.73
485         1              0.70
486         0              0.68
487         0              0.79
488         1              0.76
489         0              0.65
490         1              0.67
491         0              0.54
492         1              0.53
493         1              0.62
494         1              0.68
495         1              0.87
496         1              0.96
497         1              0.93
498         0              0.73
499         0              0.84

[500 rows x 9 columns]>

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000